{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Find My Truck</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
    <!-- Morris charts -->
    <link rel="stylesheet" href="{% static 'bower_components/morris.js/morris.css' %}">
    <!-- daterange picker -->
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.css' %}">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="{% static 'plugins/timepicker/bootstrap-timepicker.min.css' %}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="map" style="position: absolute; width: 100%; height: 100%;"></div>

<div style="position: absolute; left: 10px; top: 80px;">
    <label id="overspeed" style="cursor: pointer; font-family: 'Century'; font-size: 15pt; color: #eee72c">
        <input id="speedbox" type="checkbox" class="flat-red">
        <span>Over Speed</span>
    </label>
    <br><br>

    <!-- Criteria -->
    <div class="form-group">
        <label style="color: #eee72c">City</label>
        <select id="criteria_name" class="form-control select2" style="width: 100%;">
            <option selected="selected" value="00000">ALL</option>
            <optgroup label="CITY">
                <option value="00001">FARMINGTON</option>
                <option value="00002">COATES</option>
                <option value="00003">UNINC DAKOTA COUNTY</option>
                <option value="00004">ROSEMOUNT</option>
                <option value="00005">LAKEVILLE</option>
                <option value="00006">BURNSVILLE</option>
                <option value="00007">SWANTON</option>
                <option value="00008">HIGHGATE</option>
                <option value="00009">SAINT ALBANS</option>
                <option value="00010">MILTON</option>
                <option value="00011">GREENCASTLE</option>
                <option value="00012">CARNESVILLE</option>
                <option value="00013">MILTON</option>
                <option value="00014">FORT JOHNSON</option>
                <option value="00015">CANAJOHARIE</option>
                <option value="00016">GLEN</option>
                <option value="00017">FONDA</option>
                <option value="00018">CLARKSVILLE</option>
                <option value="00019">CASTLETON-ON-HUDSON</option>
                <option value="00020">RENSSELAER</option>
                <option value="00021">ALBANY</option>
                <option value="00022">SCOTIA</option>
                <option value="00023">ROTTERDAM</option>
                <option value="00024">WOONSOCKET</option>
                <option value="00025">CHAMPLAIN</option>
                <option value="00026">PLATTSBURGH</option>
                <option value="00027">PERU</option>
                <option value="00028">SCHUYLER FALLS</option>
                <option value="00029">CHAZY</option>
                <option value="00030">FRANKFORT</option>
                <option value="00031">BRIDGEPORT</option>
                <option value="00032">PORT HURON</option>
                <option value="00033">MADAWASKA</option>
                <option value="00034">CAMPTON</option>
                <option value="00035">FRANCONIA</option>
                <option value="00036">LITTLETON</option>
                <option value="00037">BETHLEHEM</option>
                <option value="00038">HOLDERNESS</option>
                <option value="00039">WOODSTOCK</option>
                <option value="00040">LINCOLN</option>
                <option value="00041">UNINC SPARTANBURG COUNTY</option>
                <option value="00042">GREER</option>
                <option value="00043">WOODRUFF</option>
                <option value="00044">GREENVILLE</option>
            </optgroup>
        </select>
    </div>

    <!-- Date and time range -->
    <div class="form-group">
        <label style="color: #eee72c">DATE RANGE:</label>

        <div class="input-group">
            <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                    <span id="calendar_content">
                      <i class="fa fa-calendar"></i> Date range picker
                    </span>
                <i class="fa fa-caret-down"></i>
            </button>
        </div>
    </div>
    <!-- /.form group -->
</div>

<div style="position: absolute; width: 100%; left: 54.5%; bottom: 0px;">
    <!-- Custom Tabs -->
    <div class="nav-tabs-custom" style="width: 45%; height: 100%;">
        <ul class="nav nav-tabs">
            <li id="tab_header1" class="active"><a href="#tab_1" data-toggle="tab">Chronology</a></li>
        </ul>
        <div class="tab-content" style="width: 100%; height: 100%;">
            <div class="tab-pane active" id="tab_1">
                <!-- AREA CHART -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Chronological Graph</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">
                        <!-- Criteria -->
                        <div class="chart" id="revenue-chart" style="height: 200px;"></div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.tab-pane -->
            <!--
            <div class="tab-pane" id="tab_3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            -->
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
    <!-- nav-tabs-custom -->
</div>

<!-- jQuery 3 -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<!-- InputMask -->
<script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
<!-- date-range-picker -->
<script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- bootstrap datepicker -->
<script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<!-- bootstrap color picker -->
<script src="{% static 'bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
<!-- bootstrap time picker -->
<script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
<!-- SlimScroll -->
<script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<!-- iCheck 1.0.1 -->
<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
<!-- Morris.js charts -->
<script src="{% static 'bower_components/raphael/raphael.min.js' %}"></script>
<script src="{% static 'bower_components/morris.js/morris.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>

<!-- Page Script -->
<script>

    var map, heatmap, area, bar;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5,
            center: {lat: 39.4419, lng: -98.1419},
            mapTypeId: 'hybrid'
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
            data: getPoints(),
            map: map
        });
    }

    // Heatmap data: 500 Points
    function getPoints() {
        var pts = [];
        {% for each_item in points %}
            pts.push({location: new google.maps.LatLng({{ each_item.lat }}, {{ each_item.lon }}), weight:{{ each_item.wei }}});
{#            pts.push(new google.maps.LatLng({{ each_item.lat }}, {{ each_item.lon }}));#}
        {% endfor %}

        return pts;
    }

    // post Criteria to server
    function postCriteria(check_speed, date_range) {
        $.post("/criteria", {
            overspeed: check_speed,
            criteria: $("#criteria_name").val(),
            daterange: date_range
        }).done(function (data) {
            // alert(data.points);
            var pts = [];
            for (i = 0; i < data.points.length; i++) {
                pts.push({location: new google.maps.LatLng(data.points[i].lat, data.points[i].lon), weight: data.points[i].wei});
{#                pts.push(new google.maps.LatLng(data.points[i].lat, data.points[i].lon));#}
            }

{#            alert(pts);#}
            heatmap.set('data', pts);
        }).fail(function () {
            alert("Error");
        });
    }

    // Switching Tab
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
{#        alert("OK");#}
        var target = $(e.target).attr("href"); // activated tab

        switch (target) {
            case "#tab_1":
                area.setData([
                    {y: '2011 Q1', item1: 1000, item2: 2666},
                    {y: '2011 Q2', item1: 2778, item2: 2294},
                    {y: '2011 Q3', item1: 4912, item2: 1969},
                    {y: '2011 Q4', item1: 3767, item2: 3597},
                    {y: '2012 Q1', item1: 6810, item2: 1914},
                    {y: '2012 Q2', item1: 5670, item2: 4293},
                    {y: '2012 Q3', item1: 4820, item2: 3795},
                    {y: '2012 Q4', item1: 15073, item2: 5967},
                    {y: '2013 Q1', item1: 10687, item2: 4460},
                    {y: '2013 Q2', item1: 8432, item2: 5713}
                ]);
                break;
            case "#tab_2":
                bar.setData([
                    {y: '2006', a: 50, b: 90},
                    {y: '2007', a: 75, b: 65},
                    {y: '2008', a: 50, b: 40},
                    {y: '2009', a: 75, b: 65},
                    {y: '2010', a: 50, b: 40},
                    {y: '2011', a: 75, b: 65},
                    {y: '2012', a: 100, b: 90}
                ]);
                break;
        }
    });

    // Click OverSpeed Checkbox
    $("#overspeed").click(function () {
        // alert();
        var temp1 = $("#speedbox").is(":checked");

        temp1 = temp1 === false;    // reverse true and false

        // post when user click daterange button
        if ($("#calendar_content").has("i").length === 1) {
            postCriteria(temp1, false);
        } else {
            postCriteria(temp1, $("#calendar_content").text());
        }
    });

    // change Dropdown List
    $('#criteria_name').on('change', function () {
        // alert(this.value);
        var temp2 = $("#speedbox").is(":checked");

        // alert($("#calendar_content").text());
        if ($("#calendar_content").has("i").length === 1) {
            postCriteria(temp2, false);
        } else {
            postCriteria(temp2, $("#calendar_content").text());
        }
    });

    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2();

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', {'placeholder': 'dd/mm/yyyy'});
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('mm/dd/yyyy', {'placeholder': 'mm/dd/yyyy'});
        //Money Euro
        $('[data-mask]').inputmask();

        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
{#                startDate: moment().subtract(29, 'days'),#}
{#                endDate: moment()#}
            },
            function (start, end) {
                $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
{#                alert(start);#}
{#                alert(end);#}

                var temp3 = $("#speedbox").is(":checked");
                postCriteria(temp3, $("#calendar_content").text());
            }
        );

        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        });

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });

        //Colorpicker
        $('.my-colorpicker1').colorpicker();
        //color picker with addon
        $('.my-colorpicker2').colorpicker();

        //Timepicker
        $('.timepicker').timepicker({
            showInputs: false
        });

        "use strict";

    });

    // AREA CHART
    area = new Morris.Area({
        element: 'revenue-chart',
        resize: true,
        xkey: 'y',
        ykeys: ['item1', 'item2'],
        labels: ['UnderSpeed', 'OverSpeed'],
        lineColors: ['#a0d0e0', '#3c8dbc'],
        hideHover: 'auto'
    });

    var t = [];
    {% for each in g_points %}
        t.push({y: '{{ each.y }}', item1: {{ each.item1 }}, item2: {{ each.item2 }}});
    {% endfor %}

    area.setData(t);

</script>

<!-- Google Map Script -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBieBa0YUF7SEfTQtw2QVBIh1KINeX96JQ&libraries=visualization&callback=initMap">
</script>

</body>
</html>